[submodule "thirdparty/cpputest"]
	path = thirdparty/cpputest
	url = https://github.com/Avnu/cpputest.git
[submodule "avdecc-lib"]
	path = avdecc-lib
	url = https://github.com/Avnu/avdecc-lib.git
[submodule "lib/igb_avb"]
	path = lib/igb_avb
	url = https://github.com/AVnu/igb_avb.git
[submodule "daemons/gptp"]
	path = daemons/gptp
	url = https://github.com/sharma-kullu2/gptp.git
